/* css when media max 767 */
@media (max-width:767px)  {

    aside{
        display: none;
    }

    nav{
        display: none;
    }

    .canvas.main{
        display: none;
    }

    .canvas.alert{
        display: block;
    }

}

@media (min-width:768px)  {

    .canvas.alert{
        display: none;
    }

}

