/* core */
@import url('https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800');

:root{
  --color-white: rgba(255, 255, 255, 1);
  --color-white-half: rgba(255, 255, 255, 0.5);
  --color-main-blue: rgba(39, 68, 255, 1);
  --color-main-blue-quart: rgba(39, 68, 255, 0.25);
  --color-main-line: rgba(51, 54, 69, 0.1);
  --color-main-aside: rgba(26, 26, 30, 1);
  --color-active-aside: rgba(255, 255, 255, 0.1);
  --color-main-canvas: rgba(255, 255, 255, 1);
  --color-bg-canvas: rgba(248, 248, 248, 1);
  --color-text-primary: #333645;
  --color-text-secondary: #888c9c;
}

/* vertical-align */
  .middle > * {
    vertical-align: middle;
  }

  .top > * {
    vertical-align: top;
  }

  .bottom > * {
    vertical-align: bottom;
  }

  .sub > * {
    vertical-align: sub;
  }

  .super > * {
    vertical-align: super;
  }

  .text-top > * {
    vertical-align: text-top;
  }

  .text-bottom > * {
    vertical-align: text-bottom;
  }

  .baseline > * {
    vertical-align: baseline;
  }

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: red;
  font-family: 'Montserrat';
  background-color: var(--color-bg-canvas);
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

button.slabpixel-btn-white{
  width: auto;
  height: 40px;
  border-radius: 4px;
  font-size: 14px;
  border: solid 1px var(--color-main-blue-quart);
  color: var(--color-main-blue);
  padding: 6px 12px;
  margin: 0px 5px;
}

button.slabpixel-btn-blue{
  width: auto;
  height: 40px;
  border-radius: 4px;
  font-size: 14px;
  color: var(--color-white);
  padding: 6px 12px;
  margin: 0px 5px;
  background-color: var(--color-main-blue);
}

button.slabpixel-btn-white img{
  width: auto;
  height: 20px;
}

button.slabpixel-btn-transparant{
  width: auto;
  font-size: 14px;
  background-color: var(--color-white);
  color: var(--color-text-secondary);
  padding: 3px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

nav{
  height: 60px;
  width: 100%;
  z-index: 101;
  position: fixed;
  border-bottom: solid 1px var(--color-main-line);
  background-color: var(--color-white);
}

.slabpixel-nav-space{
  width: 411px;
  height: 60px;
  float: left;
  padding-left: 20px;
  border-right: solid 1px var(--color-main-line);
}

.slabpixel-header-left{
  width: auto;
  height: auto;
  float: left;
  margin-top: 18px;
  margin-right: 20px;
  display: table-cell;
}

.slabpixel-header-right{
  width: auto;
  height: auto;
  float: right;
  margin-top: 18px;
  margin-right: 20px;
  display: table-cell;
}

.slabpixel-header-logo{
  margin-right: 10px;
}

.slabpixel-header-logo-small{
  display: none;
}

input.slabpixel-name-project{
  width: auto;
  font-size: 14px;
  display: inline-block;
  padding: 3px;
  border: 0px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--color-text-primary);
}

.slabpixel-nav-header{
  height: 100%;
  width: auto;
}

.slabpixel-nav-left{
  height: auto;
  width: auto;
  float: left;
	display: flex;
  flex-wrap: wrap;
  padding: 10px 5px 10px 15px;
}

.slabpixel-nav-left .slabpixel-canvas-size{
  margin: 5px 0px;
}

.slabpixel-nav-left .slabpixel-canvas-size button{
  padding: 5px 5px 5px 15px;
}

.slabpixel-more-menu{
  display: none;
}

.slabpixel-dropdown {
  padding: 2px 12px;
  font-size: 14px;
}

.slabpixel-dropdown .slabpixel-canvas-title{
  color: var(--color-text-secondary);
}

.slabpixel-dropdown button {
  color: var(--color-text-primary);
  font-size: 14px;
}

.slabpixel-dropdown .dropdown-menu {
  height: auto;
	width: 260px;
	border-radius: 4px;
	border: solid 1px rgba(51, 54, 69, 0.1);
  background-color: #ffffff;
  float: left;
  position: absolute;
  transform: translate3d(100px, 47px, 0px);
  top: 0px;
  left: 0px;
}

.slabpixel-dropdown .dropdown-menu a.dropdown-item {
	height: auto;
	font-size: 12px;
	padding: 5px 16px;
	margin: 0;
  color: var(--color-text-primary);
}

.slabpixel-dropdown .dropdown-menu a.dropdown-item:hover {
	background-color: rgba(136, 140, 156, 0.1);
}

.slabpixel-dropdown .dropdown-menu a.dropdown-item span {
	float: right;
  color: var(--color-text-primary);
}

.slabpixel-more-setting .slabpixel-canvas-size-more{
  margin: 10px 15px;
}

.slabpixel-more-setting .slabpixel-canvas-size-more button{
  display: inline-block;
  padding: 8px 15px 8px 15px;
  box-sizing: border-box;
  text-align: right;
  color: var(--color-text-primary);
}

.slabpixel-more-setting .dropdown-menu{
  width: auto;
}

.slabpixel-more-setting .dropdown-menu .title-more{
  font-size: 14px;
  margin: 0px 15px;
}

.slabpixel-more-setting .setting-size{
  margin: 15px;
}

.slabpixel-more-setting .setting-size .slabpixel-box-size{
  float: left;
  font-size: 14px;
  margin-right: 10px;
}

.slabpixel-nav-right{
  height: 100%;
  width: auto;
  float: left;
  display: flex;
  flex-wrap: wrap;
  padding: 16px 5px 10px 20px;
  border-left: solid 1px var(--color-main-line);
}

.slabpixel-box-size{
  font-size: 14px;
  margin-right: 25px;
  color: var(--color-text-secondary);
}

input.slabpixel-size{
  width: 38px;
  font-size: 14px;
  display: inline-block;
  padding: 3px;
  border: 0px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: right;
  color: var(--color-text-primary);
}

.slabpixel-nav-btn{
  height: 100%;
  width: auto;
  float: right;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px 10px 20px;
}

aside{
  position: fixed;
  width: auto;
  height: auto !important;
  float: left;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  /* overflow: scroll; */
  background-color: var(--color-white);
  border-right: solid 1px var(--color-main-line);
}

.slabpixel-aside-header{
  width: 410px;
  height: 60px;
}

.slabpixel-aside-menu{
  width: 80px;
  height: calc(100% - 60px);
  float: left;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  background-color: var(--color-main-aside);
}

aside .aside-menu {
	margin-top: 0px;
}

aside .aside-menu ul {
  list-style-type: none;
  text-decoration: none;
	margin: 0;
  padding: 0;
}

aside .aside-menu ul a li{
	width: 100%;
	height: 67px;
	text-align: center;
	margin: auto;
	padding: 0;
  color: var(--color-white-half);
}

aside .aside-menu ul a li:hover {
	background-color: var(--color-active-aside);
	color: var(--color-white);
}

aside .aside-menu ul a li.active {
	background-color: var(--color-active-aside);
	color: var(--color-white);
}

aside .aside-menu ul a li img {
	width: 18px;
	height: 18px;
	margin-top: 14px;
}

aside .aside-menu ul a li i {
	font-size: 18px;
  margin-top: 14px;
}

aside .aside-menu ul a li span {
  display: block;
	font-size: 9px;
	font-weight: 500;
	margin-top: 6px;
}

aside .aside-menu ul a li p {
	font-size: 9px;
	font-weight: 500;
}

.slabpixel-aside-content{
  width: 330px;
  height: calc(100% - 61px);
  float: left;
}

.slabpixel-aside-box{
  width: auto;
  height: 100%;
  /* overflow: scroll; */
  padding: 15px;
}

.slabpixel-box-search{
  width: auto;
  height: auto;
  margin-bottom: 14px;
} 

.slabpixel-box-template{
  width: auto;
  height: auto;
  margin-bottom: 14px;
}

.slabpixel-box-filter{
  width: auto;
  height: 38px;
  margin-bottom: 14px;
}

.slabpixel-filter-left{
  width: 147px;
  height: auto;
  float: left;
}

.slabpixel-filter-right{
  width: 147px;
  height: auto;
  float: right;
}

.slabpixel-box-content{
  width: auto;
  height: auto;
	overflow: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.slabpixel-bg-input{
  border-radius: 4px;
  border: solid 1px var(--color-main-line);
  background-color: #f8f8f8;
  font-size: 14px;
}

.slabpixel-aside-show-hide{
  position: absolute;
  z-index: 102;
}

.slabpixel-show-hide-btn{
  width: auto;
  height: 40px;
  border-radius: 0px 4px 4px 0px;
  border: solid 1px var(--color-main-line);
  background-color: var(--color-white);
  padding: 6px 10px 6px 8px;
  margin: 32px 0px 0px 410px;
}

.mini-box-data{
	width: 100%;
	height: 100px;
	border-radius: 4px;
	border: solid 1px rgba(51, 54, 69, 0.1);
	background-color: #ffffff;
	padding: 8px;
	margin-bottom: 10px;
	transition: 0.3s;
}

.mini-box-data:hover {
	box-shadow: 0 30px 50px 0 rgba(51, 54, 69, 0.15);
	border: solid 1px rgba(39, 67, 255, 0.5);
	transition: 0.3s;
}

.mini-box-data h4 {
	font-size: 22px;
	font-weight: bold;
	line-height: 1.82;
	color: var(--color-text-primary);
	margin: 5px 13px 0px 13px;
}

.mini-box-data p {
	font-size: 14px;
	line-height: 1.86;
	color: #757b92;
	margin: 0px 13px 0px 13px;
}

.slabpixel-box-content .col-Two{
  padding-right: 12px;
  padding-left: 12px;
}

.slabpixel-box-content .col-Two .col-6{
  padding-right: 3px;
  padding-left: 3px;
}

.gm-row{
  overflow: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.grid-masonry {
	display: grid;
	grid-gap: 6px;
	/*grid-template-columns: repeat(auto-fill, minmax(98px,88px));*/
	/*grid-template-columns: repeat(auto-fill, minmax(80px,72px));*/
	grid-template-columns: repeat(auto-fill, minmax(35%,31%));
	grid-auto-rows: 1px;
	margin-left: -15px;
	margin-right: 0px;
  margin-bottom: 6px;
}

  .item {
    /*width: 30%;*/
		border-radius: 4px;
    background-color: #ffffff;
		border: solid 1px rgba(51, 54, 69, 0.1);
		overflow: hidden;
		transition: 0.3s;
  }

  .item:hover {
		box-shadow: 0 30px 50px 0 rgba(51, 54, 69, 0.15);
		border: solid 1px rgba(39, 67, 255, 0.5);
		transition: 0.3s;
  }

  .grid-masonry .item .content {
    padding: 22px 16px;
  }

  .photothumb img{
		width: 100%;
		height: 90px;
  }

  .title {
    padding: 20px;
  }

  .title h3{
		font-size: 1.2em;
		color: #ffffff;
		text-transform: uppercase;
  }

  .desc{
    padding: 10px 10px 5px 10px;
  }

  .desc img{
		width: 50%;
		margin: 0 10px 10px 0;
		float: left;
  }

  .desc p{
    margin-bottom: 10px;
  }

.canvas.alert{
  padding: 50px 20px;
}

.canvas.alert h5{
  color: var(--color-text-primary);
  padding: 10px 60px 25px 60px;
  font-size: 24px;
}

.canvas.alert p{
  color: var(--color-text-primary);
  padding: 10px 60px 25px 60px;
  font-size: 16px;
}