/* css when media max 1079 */
@media (max-width:1079px)  {

    .slabpixel-header-logo{
        display: none;
    }

    .slabpixel-nav-space{
        width: auto;
    }

    .slabpixel-header-logo-small{
        display: block;
        float: left;
        margin-right: 10px;
    }

    .slabpixel-canvas-size-more{
        display: block;
    }

}

/* css when media between 768-1079 */
@media (min-width:768px) and (max-width:1079px)  {

}
