/* css when media max 1439 */
@media (max-width:1439px)  {

    .slabpixel-nav-right{
        display: none;
    }

    .slabpixel-more-menu{
        float: left;
        margin-top: 15px;
        display: block;
    }

    .slabpixel-canvas-size-more{
        display: none;
    }

}

/* css when media between 1200-1439 */
@media (min-width:1200px) and (max-width:1439px)  {

}
