/* css when media max 1199 */
@media (max-width:1199px)  {

    .slabpixel-canvas-size{
        display: none;
    }

    .slabpixel-canvas-size-more{
        display: block;
    }

}

/* css when media between 1080-1199 */
@media (min-width:1080px) and (max-width:1199px)  {

}
