:root {
  --charcoal-grey: #333645;
  --blue-grey: #888c9c;
  --light-royal-blue: #2743ff;
  --pale-lilac: #d5daff;
}

body {
	background-color: #f8f8f8;
	font-family: 'Montserrat';
	margin: 0;
	padding: 0;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.btn-primary {
	background-color: var(--light-royal-blue);
	border-color: var(--light-royal-blue);
	color: #ffffff;
	transition: 0.3s;
}

.btn-primary:hover {
	background-color: red;
	border-color: red;
	color: #ffffff;
	transition: 0.3s;
}

.btn-secondary {
	background-color: #d5daff;
	border-color: #d5daff;
	color: var(--light-royal-blue);
	transition: 0.3s;
}

.btn-secondary:hover {
	background-color: red;
	border-color: red;
	color: var(--light-royal-blue);
	transition: 0.3s;
}

.btn-thirt {
	background-color: #ffffff;
	border-color: #d5daff;
	color: var(--light-royal-blue);
	transition: 0.3s;
}

.btn-thirt:hover {
	background-color: red;
	border-color: red;
	color: var(--light-royal-blue);
	transition: 0.3s;
}

.btn-link {
	color: var(--charcoal-grey);
}

.btn-link:hover {
	color: var(--charcoal-grey);
}

.btn-slabpixel {
	padding: 9px 20px;
	text-align: left;
	width: auto;
	font-size: 12px;
	height: 40px;
}

.btn-slabpixel i.i-left {
	/*margin: 5px 12px 0px 5px;*/
	margin: 4px 4px 4px 0px;
}

.btn-slabpixel img.i-left {
	/*margin: 5px 12px 0px 5px;*/
	margin: 3px 4px 4px 0px;
	max-height: 14px;
}

.btn-slabpixel span {
    /*position: fixed;*/
}

.btn-slabpixel i.i-right {
	float: right;
	margin: 4px 0px 4px 10px;
}

.btn-slabpixel img.i-right {
	float: right;
	margin: 3px 0px 4px 10px;
	max-height: 14px;

}

header {
	width: 100%;
    position: fixed;
	z-index: 106;
    margin-left: 410px;
	height: 60px;
	border-bottom: solid 1px rgba(51, 54, 69, 0.1);
	background-color: #ffffff;
}

header .box-tool {
    top: 0;
    left: 0;
	display: flex;
    flex-wrap: wrap;
	padding-top: 10px;
	padding-right: 14px;
	padding-left: 14px;
	width: 100%;
}

.dropdown_ .dropdown-menu {
	width: 260px;
	border-radius: 4px;
	border: solid 1px rgba(51, 54, 69, 0.1);
	background-color: #ffffff;
}

.dropdown_ .dropdown-menu a.dropdown-item {
	height: auto;
	font-size: 12px;
	padding: 5px 16px;
	margin: 0;
	color: var(--charcoal-grey);
}
.dropdown_ .dropdown-menu a.dropdown-item:hover {
	background-color: rgba(136, 140, 156, 0.1);
}

.dropdown_ .dropdown-menu a.dropdown-item span {
	float: right;
	color: var(--blue-grey);
}

.btn-slabpixel-grey {
	border-radius: 4px;
	border: solid 1px rgba(51, 54, 69, 0.1);
	background-color: #f8f8f8;
	color: rgba(51, 54, 69, 0.5);
}

aside {
	top: 0;
    left: 0;
    bottom: 0;
    z-index: 104;  
	width: 80px;
    position: fixed;
    height: auto !important;
	background-color: var(--light-royal-blue);
	overflow: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

aside::-webkit-scrollbar {
	display: none;
}

aside .brand {
	top: 0;
    left: 0;
    bottom: 0;
    z-index: 105;  
    position: fixed;
	width: 80px;
	height: 60px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
	background-color: var(--light-royal-blue);
}

aside .brand img {
	width: 30px;
	height: 29px;
	object-fit: contain;
	margin-top: 14px;
}

aside .aside-menu {
	margin-top: 63px;
}

aside .aside-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
aside .aside-menu ul a li{
	width: 67px;
	height: 67px;
	text-align: center;
	margin: auto;
	margin-bottom: 3px;
	padding: 0;
	border-radius: 4px;
	background-color: rgba(136, 140, 156, 0);
	color: rgba(255, 255, 255, 0.5);
}

aside .aside-menu ul a li:hover {
	background-color: rgba(136, 140, 156, 0.15);
	color: rgba(255, 255, 255, 1);
}

aside .aside-menu ul a li.active {
	background-color: rgba(136, 140, 156, 0.15);
	color: rgba(255, 255, 255, 1);
}


aside .aside-menu ul a li img {
	width: 18px;
	height: 18px;
	margin-top: 14px;
}

aside .aside-menu ul a li i {
	font-size: 18px;
	margin-top: 14px;
}

aside .aside-menu ul a li span {
    display: block;
	font-size: 9px;
	font-weight: 500;
	margin-top: 6px;
}

aside .aside-menu ul a li p {
	font-size: 9px;
	font-weight: 500;
}

.box-left {
/*
	top: 0;
    left: 0;
    bottom: 0;
	width: 470px;
    position: fixed;
    height: auto !important;
	background-color: #ffffff;
	border: solid 1px rgba(51, 54, 69, 0.1);
	padding: 89px 23px 0px 132px;
*/
}

.box-left .box-style {
	padding-left: 95px;
    height: 60px;
    width: 410px;
    padding-right: 14px;
	padding-top: 10px;
	z-index: 105;
    position: fixed;
	border-bottom: solid 1px rgba(51, 54, 69, 0.1);
	background-color: #ffffff;
}

.box-left .box-left-top {
	top: 0;
    left: 0;
	margin-bottom: 24px;
	margin-top: 60px;
    position: fixed;
	padding: 10px 14px 10px 95px;
	width: 410px;
	/*width: 470px;*/
	background-color: #ffffff;
	z-index: 101;
	border-right: solid 1px rgba(51, 54, 69, 0.1);
}

.box-left .box-left-bottom {
	top: 0;
    left: 0;
    bottom: 0;
	width: 410px;
	/*width: 470px;*/
    position: fixed;
	margin-top: 168px;
	padding: 10px 40px 0px 110px;
	background-color: #ffffff;
	z-index: 100;
	border-right: solid 1px rgba(51, 54, 69, 0.1);
	overflow: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.box-left .box-left-bottom::-webkit-scrollbar {
	display: none;
}

.box-left .box-left-bottom .row {
	margin-right: -30px;
	margin-left: -20px;
}

.box-left .box-left-bottom .row .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding-right: 5px;
    padding-left: 5px;
}

.box-left .box-left-bottom .row .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-right: 5px;
    padding-left: 5px;
}

.box-left .box-left-bottom .mini-box-data {
	width: 100%;
	height: 100px;
	border-radius: 4px;
	border: solid 1px rgba(51, 54, 69, 0.1);
	background-color: #ffffff;
	padding: 8px;
	margin-bottom: 10px;
	transition: 0.3s;
}

.box-left .box-left-bottom .mini-box-data:hover {
	box-shadow: 0 30px 50px 0 rgba(51, 54, 69, 0.15);
	border: solid 1px rgba(39, 67, 255, 0.5);
	transition: 0.3s;
}

.box-left .box-left-bottom .mini-box-data h4 {
	font-size: 22px;
	font-weight: bold;
	line-height: 1.82;
	color: var(--charcoal-grey);
	margin: 5px 13px 0px 13px;
}

.box-left .box-left-bottom .mini-box-data p {
	font-size: 14px;
	line-height: 1.86;
	color: #757b92;
	margin: 0px 13px 0px 13px;
}

.grid-masonry {
	display: grid;
	grid-gap: 6px;
	/*grid-template-columns: repeat(auto-fill, minmax(98px,88px));*/
	/*grid-template-columns: repeat(auto-fill, minmax(80px,72px));*/
	grid-template-columns: repeat(auto-fill, minmax(35%,31%));
	grid-auto-rows: 1px;
	margin-left: -15px;
	margin-right: 0px;
	margin-bottom: 6px;
}

    .item {
		/*width: 30%;*/
		border-radius: 4px;
    	background-color: #ffffff;
		border: solid 1px rgba(51, 54, 69, 0.1);
		overflow: hidden;
		transition: 0.3s;
    }

    .item:hover {
		box-shadow: 0 30px 50px 0 rgba(51, 54, 69, 0.15);
		border: solid 1px rgba(39, 67, 255, 0.5);
		transition: 0.3s;
    }

    .grid-masonry .item .content {
    	padding: 22px 16px;
    }

    .photothumb{
		width: 100%;
		max-height: 90px;
    }

    .title {
      	padding: 20px;
    }

    .title h3{
		font-size: 1.2em;
		color: #ffffff;
		text-transform: uppercase;
    }

    .desc{
    	padding: 10px 10px 5px 10px;
    }

    .desc img{
		width: 50%;
		margin: 0 10px 10px 0;
		float: left;
    }

    .desc p{
    	margin-bottom: 10px;
    }

.dashboard {
    top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
    position: fixed;
}

.box-right {
	width: auto !important;
	height: 100%;
	padding-top: 74px;
	padding-left: 32%;
	padding-right: 20px;
	padding-bottom: 20px;
}

.box-right .canvas{
  	height: 100%;
  	width: 100%;
	margin: 10px;
	overflow: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.box-right .canvas::-webkit-scrollbar {
	display: none;
}

.box-right .canvas .canvas-size {
	width: 866px;
	height: 650px;
  	border-radius: 4px;
  	background-color: #ffffff;
}

.slabpixel-alert {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 30px;
}

.slabpixel-alert p {
	font-size: 24px;
	font-weight: 700;
}


#backscreen {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 106;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #333645;
	opacity: 0.25;
}

.sidebar-export {
	height: 100%;
	width: 319px;
	position: fixed;
	z-index: 107;
	top: 0;
	right: -319px;
	background-color: #ffffff;
	overflow-x: hidden;
	padding-top: 54px;
	transition: 0.5s; 
	margin-top: 74px;
}

.sidebar-export a{
	color: var(--light-royal-blue);
	font-weight: bold;
}


.sidebar-export .title {
	top: 0;
	position: absolute;
	width: 100%;
	height: 54px;
	border-bottom: solid 1px rgba(51, 54, 69, 0.1);
}

.sidebar-export .title h4 {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 18px;
		font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	margin-top: 16px;
	margin-left: 24px;  
	line-height: 1.22;
	letter-spacing: normal;
	color: var(--charcoal-grey);
}

.sidebar-export .title .closebtn {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 32px;
	margin-top: 1px;
	margin-right: 24px; 
	color: var(--blue-grey);
}

.sidebar-export .content {
	margin: 24px 24px 24px 24px;
}

.sidebar-export .content .select {
	width: 100%;
	height: 84px;
	border-radius: 4px;
	border: solid 1px rgba(51, 54, 69, 0.1);
	background-color: #ffffff;
	margin-bottom: 16px;
}

.sidebar-export .content .select:hover {
	border: solid 1px rgba(39, 67, 255, 0.9);
	background-color: rgba(39, 67, 255, 0.05);
	transition: 0.3s;
}

.sidebar-export .content .select.active {
	border: solid 1px rgba(39, 67, 255, 0.9);
	background-color: rgba(39, 67, 255, 0.05);
	transition: 0.3s;
}

.sidebar-export .content .select h5 {  
	font-size: 18px;
	font-weight: bold;
	line-height: 1.22;
	color: var(--charcoal-grey);
	margin: 16px 24px 0px 24px;
}

.sidebar-export .content .select h5 i {  
	color: var(--light-royal-blue);
}

.sidebar-export .content .select span {  
	font-size: 12px;
	line-height: 1.83;
	color: var(--blue-grey);
}

.sidebar-export .content .select span.left {  
	float: left;
	margin: 9px 0px 0px 24px;
}

.sidebar-export .content .select span.right {  
	float: right;
	margin: 9px 24px 0px 0px;
}

.sidebar-export .content .note p {
	font-size: 12px;
	line-height: 1.67;
	text-align: center;
	color: var(--blue-grey);
	margin-top: 24px;
	margin-bottom: 24px;
}

.sidebar-export .content .note p span.colored {
	color: var(--light-royal-blue);
	font-weight: bold;
}

.sidebar-export .content button {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.57;
	text-align: center;
	color: #ffffff;
}

.sidebar-export .content button i {
	margin-right: 24px;
}

.modal-body {
    padding: 0px;
}

.modal-content {
	overflow: hidden;
}

.slabpixel-modal {
	min-width: 902px;
	min-height: 640px;
}

.slabpixel-modal .left{
	width: 380px;
	min-height: 640px;
	float: left;
	padding: 40px;
}

.slabpixel-modal .left img.slabpixel-logo {
	margin-top: 12px;
	margin-bottom: 53px;
}

.slabpixel-modal .left h5 {
	font-size: 26px;
	font-weight: bold;
	line-height: 1.54;
	color: var(--charcoal-grey);
	text-align: left;
	float: left;
}

.slabpixel-modal .left p.desc{
	font-size: 14px;
	line-height: 1.86;
	color: #757b92;
	text-align: left;
	float: left;
	margin-left: -10px;
	margin-bottom: 30px;
}

.slabpixel-modal .left p.term{
	font-size: 12px;
	line-height: 1.83;
	color: #757b92;
	text-align: left;
	float: left;
}

.slabpixel-modal .left p.term a{
	color: var(--light-royal-blue);
}

.slabpixel-modal .left button.btn-sign-up {
	width: 100%;
	text-align: left;
	margin-bottom: 16px;
	height: 42px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.57;
	color: #ffffff;
}

.slabpixel-modal .left button.btn-facebook {
	background-color: #3a5a9c;
}

.slabpixel-modal .left button.btn-google {
	background-color: #de4b39;
}

.slabpixel-modal .left button.btn-sign-up i {
	margin-left: 5px;
	margin-right: 15px;
}

.slabpixel-modal .left .prices {
	width: 100%;
	height: auto;
}

.slabpixel-modal .left .price {
	width: 140px;
	height: 120px;
	border-radius: 4px;
	border: solid 1px rgba(51, 54, 69, 0.1);
	background-color: #ffffff;
	float: left;
	margin-right: 10px;
	margin-top: 20px;
}

.slabpixel-modal .left .price:hover {
	border-radius: 4px;
	border: solid 1px rgba(39, 67, 255, 0.9);
	background-color: rgba(39, 67, 255, 0.05);
}

.slabpixel-modal .left .price p {
	width: 90px;
	height: 16px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: var(--light-royal-blue);
	margin: auto;
	font-size: 8px;
	font-weight: 600;
	line-height: 1;
	letter-spacing: 2px;
	text-align: center;
	color: #ffffff;
	padding-top: 3px;
}

.slabpixel-modal .left .price h6 {
	width: 78px;
	/*height: 36px;*/
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	color: var(--charcoal-grey);
	margin: auto;
	margin-top: 20px;
	margin-bottom: 14px;
}

.slabpixel-modal .left .price span {
	font-size: 14px;
	font-weight: bold;
	line-height: 2.29;
	color: var(--charcoal-grey);
}

.slabpixel-modal .right{
	width: 520px;
	min-height: 640px;
	float: right;
	background-color: #f0f0f0;
}

.slabpixel-modal .right img{
	margin-top: 135px;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
	display: none;
}

.example {
	/* Hide scrollbar for IE and Edge */
	-ms-overflow-style: none;
	/* Hide scrollbar for Mozilla */
	overflow: -moz-scrollbars-none;
}


















